.login-box {
    background: #fff;
    border: 1px solid #ddd;
    margin: 100px 0;
    padding: 40px 20px 0 20px;
}

.invalid-feedback{
    color: red;
    font-size: 16px;
}

.container {
    margin-top: 20px;
}
.mx-auto{
    margin: auto auto;
}

th{
    text-align: center !important;
}
tr{
    text-align: center !important;
}
.card img{
    max-height: 150px;
}

